body{
    font-family: Arial,  sans-serif; 
    font-size: 15px; 
    font-weight: lighter;
}
.name{
    color: #7B68EE;
    height: 25px;
    font-size: 25px;
    font-weight: 700;
}
.profession{
    color: #7B68EE;
    font-size: 20px;
    font-weight: 600;
}
.transferal{
    display:block;
}
.photo{
    height: 260px;
    width: 260px;
    margin: 10px auto;
    border-radius: 5px;
}
.aboutMe{
    position: absolute;
    width: 500px;
    height: 150px;
    left: 400px;
    top: 63px;
}
.titleAboutMe{
    color: #7B68EE;
    font-size: 20px;
    width: 120px;
    font-weight: 700;
}
.textAboutMe{
    width: 500px;
    height: 125px;
}
.Education {
    position: absolute;
    width: 500px;
    height: 150px;
    left: 400px;
    top: 250px;
    
}

.titleEducation {
    color: #7B68EE;
    font-size: 20px;
    width: 120px;
    font-weight: 700;
}

.textEducation {
    width: 200px;
    height: 80px;
}
.Skill{
    color: #7B68EE;
    font-size: 20px;
    width: 120px;
    font-weight: 700;
}
.Interest{
    color: #7B68EE;
    font-size: 20px;
    width: 120px;
    font-weight: 700; 
}
.reference{
    position: absolute;
    width: 500px;
    height: 150px;
    left: 400px;
    top: 540px;
}
.titleReference{
    color: #7B68EE;
    font-size: 20px;
    width: 120px;
    font-weight: 700;
}
.textReference{
    width: 200px;
    height: 80px;
}